.App{
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text1{
  text-align: center;
  margin-top: -7px;
}
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: none;

}

.button1 {
  background-color: #04AA6D;
  color: black; 
  border: 2px solid #04AA6D; 

}

.button1:hover {
  background-color: white;
  color: #04AA6D; 
}

.button2 {
  background-color: #008CBA; 
  color: black; 
  border: 2px solid #008CBA;

}

.button2:hover {
  background-color: white; 
  color: #008CBA;
}

.button3 {
  background-color: #f44336; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: white;
  color: #f44336;
}

.button4 {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: #555555;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: white;
  color: #555555; 
}

.button6 {
  background-color: #04AA6D;
  color: black; 
  border: 2px solid #04AA6D; 

}
.button6:hover {
  background-color: white;
  color: #04AA6D; 
}

.button7 {
  background-color: #008CBA; 
  color: black; 
  border: 2px solid #008CBA;

}

.button7:hover {
  background-color: white; 
  color: #008CBA;
}

.button8 {
  background-color: #f44336; 
  color: black; 
  border: 2px solid #f44336;
}

.button8:hover {
  background-color: white;
  color: #f44336;
}
.add{
  background-color: #04AA6D;
  border: 2px solid #04AA6D; 
  width: 150px;
}

.add:hover{
  background-color: white;
  color: #04AA6D; 
}

.delete{
  background-color: #f44336; 
  border: 2px solid #f44336;
  width: 150px;
}

.delete:hover {
  background-color: white;
  color: #f44336;
}

.up {
  background-color: #555555;
  color: black;
  border: 2px solid #555555;
  width: 75px;
}

.up:hover {
  background-color: white;
  color: #555555; 
}
.down {
  background-color: #555555;
  color: black;
  border: 2px solid #555555;
  width: 75px;
}

.down:hover {
  background-color: white;
  color: #555555; 
}

input[type="text"]{
  font-size:2rem;
  padding: 10px;
  border: 2px solid black;
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid silver;
  border-radius: 5px;
  display: flex;
  align-items: center;

}

.text{
flex: 1;

}

.delete, .up, .down{
  padding: 8px 12px;
  font-size: 1.5rem;
  margin-left: 10px;
  
}